@media (min-width: 320px)
{
.area-redondo{
        height: 200px;
    }
.card-redondo
   {
    width: 80px;
    height: 80px;
   }
}

@media (min-width: 480px)
{

.area-redondo{
    height: 200px;
    }
.card-redondo
   {
    width: 100px;
    height: 100px;
   }
}
